main{
  padding-top: 80px;
}

/** POST DETAIL BEGIN **/
.main-left{
  min-height: 200px;
  width: 75%;
  background-color: #fff;
  border: 1px solid #f8f9fa;
  padding: 30px 25px;
}
.post-header{
  font-size: 85%;
  color: #777;
}
.post-header > *:not(:last-child):after {
  content: '·';
  color: #777;
}
.post-body{
  margin-top: 30px;
}
.post-comment{
  margin-top: 30px;
}
.post-comment section{
  padding: 10px 0;
}
.post-comment span{
  color: #777;
  font-size: 85%;
}

/** POST DETAIL END **/
